.seccionesWindow {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-seccionesWindow-container {
    width: 100%;
    justify-self: center;
}

.titulo-seccionesWindow {
    font-size: 3.5rem;
}

.secciones {
    width: 100%;
    background: #0f0;
}
.seccion {
    background: #f00;
    border: solid #000;
    width: 200px;
    height: 150px;
}
